$domain: 'https://cocktail.bs2dl.yy.com/5adafa2fa11d292a2e24d432';

$primaryColor: #ea2328;
$linkColor: #fea800;
$error: #ff2b54;
$success: #00c453;
$bgMain: #06030e;
$bgSecondary: #171220;
/* 文字色值 */
$lightGray: rgba(255, 255, 255, .8);
$gray: rgba(255, 255, 255, .5);
$deepGray: rgba(255, 255, 255, .3);
$darkGray: rgba(255, 255, 255, .2);

$domain: 'http://sea-igame-oss.yy.com/m';